<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=" viewport" content="width=device-width   initial-scale=1.0  minimum-scale=1.0  miximum=1.0  user-scalable=yes"/>
    <title>山林小猎人</title>
    <script src="__STATIC__/index/js/jquery-3.1.1.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="__STATIC__/bird.ico">
    <link rel="stylesheet" href="__STATIC__/index/css/mymoney.css">
    <link rel="stylesheet" href="__STATIC__/index/css/nprogress.css">
    <link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/mdui/css/mdui.min.css">
    <link rel="stylesheet" href="__STATIC__/Hui_iconfont/iconfont.css">
</head>
<body>
<div class="container" id="top">
    <div class="nav navbar-right">
        <nav class="navbar" role="navigation">
            <div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            {if condition="$Request.session.user_head eq ''"}
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="width: 150px;margin-left: -60px;">
                                <span style="font-size: 24px;font-weight: 700;">游客</span>&nbsp;<img src="__STATIC__/author_cover/base_author_cover.png" alt="" style="width: 40px;height: 40px;border-radius: 50%;display: inline">
                            </a>
                            {else /}
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: -80px;width: 500px;">
                                &nbsp;<img  src="__STATIC__/{$Request.session.user_head}" alt="" style="width: 40px;height: 40px;border-radius: 50%;display: inline-block;vertical-align: middle">
                                <p style="display: inline-block;font-size:20px;font-weight:700;height:40px;max-width:300px;line-height:40px;overflow: hidden;vertical-align: middle;">{$Request.session.user_name}</p>
                            </a>
                            {/if}
                            <ul class="dropdown-menu">
                                <li><a href="{:url('index/myhome/index')}">我的主页</a></li>
                                <li><a href="{:url('index/myhome/index')}">收藏的文章</a></li>
                                <li><a href="{:url('index/myhome/index')}">喜欢的文章</a></li>
                                <li><a href="{:url('index/mymoney/index')}">我的打赏</a></li>
                                <li><a href="{:url('index/setting/index')}">设置</a></li>
                                <li><a href="{:url('index/login/logout')}">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="note">
        <div class="post">
            <div class="show-content">
                <div class="list-container">
                    <div class="main-top">
                        <a href="{:url('index/setting/index')}" class="avatar">
                            <img src="__STATIC__/{$Request.session.user_head}" alt="">
                        </a>
                        <div class="title">
                            <a class="name"  href="{:url('index/myhome/index')}">{$Request.session.user_name}</a>
                        </div>
                        <div class="info">
                            <ul style="margin-left: -40px;margin-top: -10px;">
                                <li>
                                    <div class="meta-block">
                                        <a href="" style="color: #969696;">
                                            <p style="margin-bottom: -5px;margin-top:-10px;font-size: 15px;color: #333;">{$pay.money}</p>
                                            我的赏金
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="mdui-tab mdui-tab-centered mdui-tab-full-width  " mdui-tab>
                            <a href="#myarticle" class="mdui-ripple mdui-tab-active">
                                <i class="Hui-iconfont" style="font-size: 26px;">&#xe6b7;</i>
                                <label>我的赏金</label>
                            </a>
                            <a href="#allipay" class="mdui-ripple mdui-tab-active">
                                <i class="Hui-iconfont" style="font-size: 26px;">&#xe71c;</i>
                                <label>支付宝</label>
                            </a>
                            <a href="#weixin" class="mdui-ripple mdui-tab-active">
                                <i class="Hui-iconfont" style="font-size: 26px;">&#xe719;</i>
                                <label>微信</label>
                            </a>
                        </div>
                        <div id="myarticle" class="mdui-p-a-2"  >
                            <form action="{:url('index/mymoney/mymoney')}" style="padding-left: 100px;" method="post" role="form">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">赏金 <span class="badge" style="color: #FFEB3B;">请更新获得的赏金</span></label>
                                    <div class="col-sm-6">
                                        <input required style="padding: 5px 10px;font-size: 15px;border: none;border-radius: 4px;background-color: rgba(181,181,181,0.1)" type="text" class="form-control" value="{$pay.money}" name="money">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="allipay" class="mdui-p-a-2">
                            <div style="padding-left: 300px;">
                                <form action="{:url('index/mymoney/allipay')}" enctype="multipart/form-data" method="post" role="form">
                                    <div class="form-group">
                                        <input required   type="file"  name="allipay" >
                                    </div>
                                    <div >
                                        <button type="submit" style="background-color: #449d44;font-size: 14px;" class="btn btn-success">上传</button>
                                    </div>
                                </form>
                            </div>
                            <p style="text-align: center;font-weight: 700;">金额默认为2块,但你要设置其他数字只要有人打赏就行(下图是本网站作者的二维码,请按照这种格式上传)</p>
                            <div  style="padding-left: 200px;">
                                {if condition="$pay.allipay eq ''"}
                                <img style="width: 320px;height:320px;display: block;" src="__STATIC__/allipay.jpg" alt="">
                                {else /}
                                <img style="width: 320px;height:320px;display: block;" src="__STATIC__/{$pay.allipay}" alt="">
                                {/if}
                            </div>
                        </div>
                        <div id="weixin" class="mdui-p-a-2">
                            <div style="padding-left: 300px;">
                                <form action="{:url('index/mymoney/weixin')}" enctype="multipart/form-data" method="post" role="form">
                                    <div class="form-group">
                                        <input required   type="file"  name="weixin" >
                                    </div>
                                    <div >
                                        <button type="submit" style="background-color: #449d44;font-size: 14px;" class="btn btn-success">上传</button>
                                    </div>
                                </form>
                            </div>
                            <p style="text-align: center;font-weight: 700;">金额默认为2块,但你要设置其他数字只要有人打赏就行(下图是本网站作者的二维码,请按照这种格式上传)</p>
                            <div  style="padding-left: 200px;">
                                {if condition="$pay.weixin eq ''"}
                                <img style="width: 320px;height:320px;display: block;" src="__STATIC__/allipay.jpg" alt="">
                                {else /}
                                <img style="width: 320px;height:320px;display: block;" src="__STATIC__/{$pay.weixin}" alt="">
                                {/if}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="menu-show">
        <button data-container="body" data-toggle="popover" data-placement="right" data-content="列表在这哦" data-trigger="hover" class=" btn btn-default"><span class="glyphicon glyphicon-list"></span></button>
    </div>
    <div class="menu-content" id="side-menu" style="overflow:auto;">
        <div class="menu-list">
            <h4 style="font-size: 18px;margin-top: 10px;margin-bottom: 10px;">Little Trouble Maker</h4>
            <h4 style="font-size: 18px;margin-top: 10px;margin-bottom: 10px;">And</h4>
            <h4 style="font-size: 18px;margin-top: 10px;margin-bottom: 10px;">Big Trouble Maker</h4>
            <h4></h4>
            <ul style="padding-left: 0;">
                <li style="text-align: center;font-size: 18px;"><a href="{:url('index/index/index')}">首页</a></li>
                <li style="text-align: center;font-size: 18px;"><a target="_blank" href="{:url('index/write/index')}">写文章</a></li>
                {volist name="cates" id="vo"}
                <li style="text-align: center;font-size: 18px;"><a href="{:url('index/cates/index',array('id'=>$vo.id))}">{$vo.cate_name}</a></li>
                {/volist}
            </ul>
            <form action="{:url('index/search/index')}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control search" placeholder="请输入关键词" name="keywords">
                </div>
            </form>
        </div>
    </div>
</div>
<div   >
    <div style="margin: 0 auto;vertical-align:middle;text-align: center;padding: 13px;">Copyright @ 2017 Zbingo.me &nbsp;&nbsp;&nbsp;&nbsp;陕ICP备：17007989号</div>
</div>
<script src="__STATIC__/mdui/js/mdui.min.js"></script>
<script src="__STATIC__/index/js/bootstrap.min.js"></script>
<script src="__STATIC__/index/js/canvas-nest.min.js" color="234,111,90" opacity="0.3" zIndex="-134" ></script>
<script src="__STATIC__/index/js/nprogress.js"></script>
<script src="__STATIC__/index/js/mymoney.js"></script>
<script src="__STATIC__/layer/layer.js"></script>

<script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
<script>tpwidget("init", {
    "flavor": "bubble",
    "location": "WX4FBXXFKE4F",
    "geolocation": "enabled",
    "position": "bottom-right",
    "margin": "0px 0px",
    "language": "zh-chs",
    "unit": "c",
    "theme": "chameleon",
    "uid": "U676968700",
    "hash": "358cdcce89730edf2ec9d83787748129"
});
tpwidget("show");</script>

</body>

</html>